 <header>
        <!-- Navbar -->
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h4>
                        <a class="text-white" href="/login">login</a>
                    </h4>
                    <h4>
                        <a class="text-white" href="/about">about</a>
                    </h4>
                    <h4>
                        <a class="text-white" href="/contact">contact</a>
                    </h4>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="text-white">
                    <i class="fa fa-phone"></i> Contact Us
                    <a class="text-white" href="tel:4072520176"> 1(407) 252-0176</a>
                </span>
            </nav>
        </div>
    </header>
    <main >
<div class="container">
    <div class="row justify-content-center">
    <div class="col-xs-6 col-sm-5 col-md-4 ">
    <form action="/login" method="POST" class="card  p-2 m-4" >
        <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username" required="">
                <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <div class="input-group">
                <input type="text" class="form-control" id="password" placeholder="Password" required="">
                <div class="invalid-feedback" style="width: 100%;">
                    Your password is required.
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
    </form>
</div>
</div>
</div>
        

    </main>

